html {
    background-image: url("assets/external-content.duckduckgo.com.jpg");
}

.About {
    text-align: center;
    color: purple;
}

.Jonathan {
    text-align: center;
    color: orangered;

}

.Dogs{
    text-align: center;
    color: yellowgreen;
}

.Cassie{
    text-align: center;
    color: white;
}

.BJJ{
    text-align: center;
    color: lime;
}



